.about-us {
    width: 100vw;
    height: 30rem;

    .gray {
        background-color: #F6F6F6;
        height: 35rem;
        margin-top: 8rem;

        .content {
            height: 100%;
            margin: auto;
            width: 90rem;
        }

    }

}