.slide-container {
  width: 100vw;
  height: 82vh;

  .header {
    width: 100%;
    height: 82vh !important;
    background-size: cover;
    background-position: center;
  }

}

.react-slideshow-container .nav:first-of-type {
  margin-right: -30px;
  position: relative;
  left: 15px;
  border-right: none;
  border-top: none;
}

.react-slideshow-container .nav:last-of-type {
  margin-right: -30px;
  position: relative;
  right: 30px;
  border-right: none;
  border-top: none;
}