.slide-container {
  width: 100vw;
  height: 82vh;
}

.react-slideshow-container .nav:first-of-type {
  margin-right: -30px;
  position: relative;
  left: 15px;
  border-right: none;
  border-top: none;
}

.react-slideshow-container .nav:last-of-type {
  margin-right: -30px;
  position: relative;
  right: 30px;
  border-right: none;
  border-top: none;
}